.App{
  text-align: center;
}
.questions{
  margin: 20px auto;
  width: 60%;
  border: 1px solid #ddd;
  padding: 15px;
  border-radius: 5px;
  box-shadow: 0 2px 3px #ccc;
}

.questions h2{
  margin-bottom: 10px;
}

.options{
  list-style: none;
  padding: 0;
  display: grid;
  grid-template-columns: auto auto;
  gap: 10px;
}

.button-styles{
  margin-bottom: 10px;
  width: 100%;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.results{
  margin: 20px auto;
  width: 60%;
  border: 1px solid #ddd;
  padding: 15px;
  border-radius: 5px;
}
.results button{
  color: red;
  font-weight: 800;
  text-decoration: underline;
  cursor: pointer;
}

.results ul{
  list-style: none;
  padding: 0;
}
.results li{
  margin-bottom: 10px;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 2px 3px #ccc;
}
.options li button:hover{
  background-color: #44c034;
  color: white;
  box-shadow: 0 2px 3px #ccc;
  transform: translateY(-5px);
  transition: 0.3s;

}

.results li[data-correct = "true"]{
  background-color: #4caf50;
  color: white;
}

.results li[data-correct = "false"]{
  background-color: #f44336;
  color: white;
}
.clear_btn{
  margin-top: 20px;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

/* styles for stepper */
.stepper{
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}
.step{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.step-number{
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: #ccc;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 5px;
  z-index: 2;
}
.step-name{
  font-size: 14px;
}

/* dynamic stepper */
.active .step-number{
  background-color: #007bff;
  color: white;
}
.complete .step-number{
  background-color: #4caf50;
  color: white;
}


.progress-bar{
  position: absolute;
  top: 25%;
  left: 0;
  height: 4px;
  background-color: #ccc;
  /* width: 100%; */
}

.progress{
  height: 100%;
  background-color: #4caf50;
  transition: 0.2s ease;
}